<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Blog System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
  </head>
  <body>
    <p>
      Register new user |
      <a href="{% url 'UserApp:registerUser' %}">Link</a>
    </p>
    <p>Post Page | <a href="{% url 'PostApp:postList' %}">Link</a></p>
    <p>New Post | <a href="{% url 'PostApp:postAdd' %}">Link</a></p>
    <p>Home Page | <a href="{% url 'homePage' %}">Link</a></p>
    <p>User Login | <a href="{% url 'UserApp:loginUser' %}">Link</a></p>
    <form action="{% url 'UserApp:logoutUser' %}" method="POST">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
    <main>{% block main %}{% endblock %}</main>
  </body>
</html>
